nav {
    background-color: rgb(31, 42, 60);
    border-radius: 0px;
    padding: 10px;
  }
 #menu-inicial{
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    height: 10px;
  }
  ul li {
    display: inline;
    padding: 100px;

  }
  a{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    }
    body{
      margin: 0;
      position: fixed;
      
    }
    #container-imagem {
      position: relative;
      height: 100vh;
      width: 100vw;
      background: url('../imagens/fundo_inicial.jpg');
      background-size: cover;
    }
  

    .container{
      background-color: rgba(27, 25, 58, 0);
      border-style: solid;
      border-color: rgb(9, 12, 17);
      width: 80%;
      height: 65%;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      
    }
    #apresentacao-div{
      background-color: #d4d9dc00;
      width: 500px;
      height: 200px;
      border-radius: 30px;
      position: absolute;
      top: 25%;
      left: 25%;
      transform: translate(-50%, -50%);
      
    }
    #apresentacao-div h1{
      position: absolute;
      width: 600px;
      font-size: 50px;
      font-family: 'Times New Roman', Times, serif;
      top: 10%;
      left: 50%;
      transform: translate(-50%, -50%)

    }
    #apresentacao-div p{

      font-family: 'Times New Roman', Times, serif;
      width: 400px;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%)

    }
    #posts-div{
      background-color: #d4d9dc00;
      width: 500px;
      height: 300px;
      border-radius: 30px;
      position: absolute;
      top: 70%;
      left: 25%;
      transform: translate(-50%, -50%);
      
    }
    #posts-div a{
      color: black;
    }
    
    #posts-div h1{
      position: absolute;
      width: 400px;
      font-size: 35px;
      font-family: 'Times New Roman', Times, serif;
      top: 10%;
      left: 50%;
      transform: translate(-50%, -50%)

    }
    #posts-div table{
      border: 3,px solid;
      font-family: 'Times New Roman', Times, serif;
      width: 520px;
      font-size: 20px;
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      border-collapse: collapse;
      

    }
    #posts-div th{
      border: 2px solid;
      font-family: 'Times New Roman', Times, serif;
      
      

    }
    
    #img-div{
  
      background-color: #d4d9dc00;
      width: 470px;
      height: 470px;
      position: absolute;
      top: 50%;
      left: 77%;
      transform: translate(-50%, -50%);

    }
    #img-div img{
      width: 100%;
      height: 100%;
      border-radius: 50px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

    }
        /*---------------------------------------------*/
        

    /*---------------------------------------------*/
     
    .final{
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 12%;
      background-color: rgb(31, 42, 60);
      color: white;
      text-align: center;
    }
    .final p{
      color: white;
      font-family: 'Times New Roman', Times, serif;
    }
    .logotipo{
      width: 100%;
      text-align: center;
      font-size: 1em;
    }
    .logotipo img{
      width: 40px;
      height: 40px;
    
    }

