nav {
  background-color: rgb(31, 42, 60);
  border-radius: 0px;
  padding: 10px;
  

}
#menu-inicial{
  list-style-type: none;
  margin: 5px;
  padding: 5px;
  height: 10px;
  
}
ul li {
  display: inline;
  padding: 100px;

}
a{
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
  font-size: 20px;
  color: rgb(255, 255, 255);
  }
/*------------------------------------------------*/
  body{
    margin: 0;
    position: absolute;
    overflow: auto;
    height:auto;
    
  }
  #container-imagem {
    position: relative;
    height: 200vh;
    width: 100vw;
    background: url('../imagens/fundo_blog.jpg');
    background-size: cover;
  }

/*------------------------------------------------*/
  .container{
    background-color: rgba(210, 218, 225, 0.615);
    border-style: solid;
    border-color: rgb(9, 12, 17);
    width: 80%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    overflow: scroll;
  }
/*------------------------------------------------*/
 
  #texto h1{
    color: rgb(31, 42, 60);
    width: 80%;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
  }
  #texto p{
    color: rgb(31, 42, 60);
    width: 80%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
  }
  #texto a{
    color: rgb(5, 51, 124);
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;;
  }
    #texto img{
      width: 50%;
      height: 50%;
      border-radius: 10px;
    }
    #texto{
      color: rgb(31, 42, 60);
      position: absolute;
      width: 75%;
      height:auto;
      font-size: 20px;
      font-family: 'Times New Roman', Times, serif;
      left: 60%;
      transform: translate(-50%, 0%);

    }
    #texto video{
    background-color: #e3def000;
    width: 350px;
    height: 250px;

    }
  
 /*------------------------------------------------*/  
  .final{
  position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 12%;
   background-color: rgb(31, 42, 60);
   color: white;
   text-align: center;
  }
  .final p{
    color: white;
    font-family: 'Times New Roman', Times, serif;
  }
  .logotipo{
    width: 100%;
    text-align: center;
    font-size: 1em;
  }
  .logotipo img{
    width: 40px;
    height: 40px;
  
  }

